.comments__section {
  display: flex;
  border-bottom-style: 1px solid #eff2f5;
  padding: 15px;
}

.comments__section > form > input {
  width: 90%;
  outline-width: 0;
  border: none;
  padding: 5px 20px;
  margin: 0 10px;
  border-radius: 999px;
  background-color: #eff2f5;
}

.comments__section > form {
  flex: 1;
  display: flex;
}
