.messageSender {
  position: relative;
  display: flex;
  margin-top: 30px;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
}

.messageSender__top {
  display: flex;
  border-bottom-style: 1px solid #eff2f5;
  padding: 15px;
}

.messageSender__top > form {
  flex: 1;
  display: flex;
}

.messageSender__top > form > input {
  outline-width: 0;
  border: none;
  padding: 5px 20px;
  margin: 0 10px;
  border-radius: 999px;
  background-color: #eff2f5;
}

.emojiSelect {
  margin: 8px;
}

.emojiSelect:hover {
  background-color: #effef5;
  border-radius: 20px;
  cursor: pointer;
}

.submitPost > .MuiSvgIcon-root {
  font-size: x-large;
}
.submitPost {
  padding: 5px;
  margin: 3px;
}

.submitPost:hover {
  background-color: #effef5;
  border-radius: 20px;
  cursor: pointer;
}

.add__image__url {
  padding: 5px;
  margin: 3px;
}

.add__image__url:hover {
  background-color: #effef5;
  border-radius: 20px;
  cursor: pointer;
}

.messageSender__input {
  flex: 1;
}

.messageSender__bottom {
  display: flex;
  justify-content: space-evenly;
}

.messageSender__option {
  padding: 20px;
  display: flex;
  align-items: center;
  color: gray;
  margin: 5px;
}

.messageSender__option > h3 {
  font-size: medium;
  margin-left: 10px;
  cursor: pointer;
}

.messageSender__option:hover {
  background-color: #effef5;
  border-radius: 20px;
}

.emojiSelect {
  z-index: 10;
}

.emojiContainer {
  top: 120px;
  left: 480px;
  z-index: 10;
  position: absolute;
  margin: 5px;
}

.messageSender__middle {
  display: flex;
  padding-left: 15px;
}

.messageSender__middle > p {
  font-size: small;
  color: gray;
}
